{% extends 'base.html.twig' %}

{% block body %}

    <div class="container h-full max-w-lg mx-auto flex flex-col gap-5">

        <div class="overflow-y-auto p-8">
            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <div class="flex flex-col sm:flex-row justify-around items-center ">
                <div>
                    {{ form_row(form.maxParticipant) }}
                </div>
                <div class="sm:mt-5">
                    {{ form_row(form.isPublished) }}
                </div>
                <div class="sm:mt-5">
                    {{ form_row(form.isPrivate) }}
                </div>
            </div>
            <div >
                {{ form_row(form.privateGroup) }}
            </div>
            <div class="flex flex-col sm:flex-row justify-around items-center">
                {{ form_row(form.startAt) }}
                {{ form_row(form.endAt) }}
            </div>
            <div class="flex justify-center">
                {{ form_row(form.inscriptionLimitAt) }}
            </div>
            <div class="flex flex-col sm:flex-row sm:gap-5">
                <div class="grow">
                    {{ form_row(form.site) }}
                </div>
                <div class="grow">
                    {{ form_row(form.location) }}
                </div>
                <div onclick="openLocationModal()"  class="flex items-center mb-5 sm:mt-5 cursor-pointer">
                    <svg class="w-6 h-6 text-purple-600" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5 12h14m-7 7V5"/>
                    </svg>
                </div>
            </div>
            <div class="flex justify-center">
                {{ form_row(form.image) }}
            </div>
        </div>

        <div class="flex justify-center items-center">
            <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Créer
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <div {{ vue_component('Address') }}></div>

    <script>
        function openLocationModal() {
            document.dispatchEvent(new CustomEvent('open-location-modal'));
        }

        const eventGroupEl = document.getElementById('event_privateGroup')
        const isPrivateEl = document.getElementById('event_isPrivate')
        const eventGroupLabel = document.querySelector('label[for="event_privateGroup"]')

        eventGroupLabel.setAttribute('hidden', true)


        isPrivateEl.addEventListener("change", evt => {
            if(evt.target.checked) {
                eventGroupLabel.removeAttribute('hidden')
                eventGroupEl.removeAttribute('hidden')
            } else {
                eventGroupEl.setAttribute('hidden', true)
                eventGroupLabel.setAttribute('hidden', true)
            }
        })
    </script>
{% endblock %}





{% block title %}
    {{ parent() }} | Créer un événement
{% endblock %}

