{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des évênements{% endblock %}

{% block body %}
    <div class="flex justify-between items-center">
    <div>Page d'accueil</div>

    <div>
        <h2>Filtrer les sorties</h2>
        <p>TODO...</p>
    </div>

    <div>
        <a href="{{ path('app_event_create') }}">
            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Créer une sortie
            </button>
        </a>
    </div>
    </div>

    {# Afficher les sorties #}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom de la sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Date de la sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Clôture
                </th>
                <th scope="col" class="px-6 py-3">
                    Inscrits / Places
                </th>
                <th scope="col" class="px-6 py-3">
                    Etat
                </th>
                <th scope="col" class="px-6 py-3">
                    Inscrit ?
                </th>
                <th scope="col" class="px-6 py-3">
                    Organisateur
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ event.name }}
                </th>
                <td class="px-6 py-4">
                    {{ event.startAt | date("d/m/Y H:i") }}
                </td>
                <td class="px-6 py-4">
                    {{ event.endAt | date("d/m/Y H:i") }}
                </td>
                <td class="px-6 py-4">
                    {{ inscriptionCount[event.eventId] ?? 0 }} / {{ event.maxParticipant }}
                </td>
                <td class="px-6 py-4">
                    {{ event.state }}
                </td>
                <td class="px-6 py-4">
                    <input type="checkbox" {# à gérer dans le controller, mettre 'checked' si current_user id = event_id de 'event_user' // attente connexion feature #} />
                </td>
                <td class="px-6 py-4">
                    <a href="{{ path('app_user_detail', {'userId' : event.organizerId}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{event.organizerName ? event.organizerName : 'Inconnu' }}</a>
                </td>f
                <td class="px-6 py-4">
                    <a href="{{ path('app_event_detail', {id: event.eventId}) }}">Afficher</a>
                    {% if current_user is same as(event.organizerEmail) %}
                    <a href="#">Modifier</a>
                    {% endif %}
                    {% if current_user is same as(event.organizerEmail) or is_granted('ROLE_ADMIN') %}
                    <a href="#">Annuler</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
