{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des évênements{% endblock %}

{% block body %}
    <div class="flex justify-between items-center">
    <div>Page d'accueil</div>

    <div>
        <h2>Filtrer les sorties</h2>

        <form method="get" action="{{ path("app_event") }}">
            <!-- Search avec l'icône -->

            <label for="testLabel2" class="text-right">Le nom de la sortie contient :</label>
            <div class="relative w-full">
                <input type="search" id="testLabel2" name="search"
                           class="border p-1 pl-10 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                           placeholder="Search"/>
                <svg class="w-5 h-5 text-gray-500 absolute left-3 top-1/2 transform -translate-y-1/2"
                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                </svg>
            </div>

            <!-- Site avec la liste déroulante -->

            <label for="siteList" class="text-right">Site :</label>
            <select name="site" id="siteList" class="border p-1 rounded w-full">
                {% for site in sites %}
                    <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </select>

            <div class="flex items-center space-x-2">
                <input type="checkbox" id="outingOrganizer" name="organizer"/>
                <label for="outingOrganizer" class="inline">Sorties dont je suis l'organisateur/trice</label>
            </div>

            <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl#}
    focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm#}
    px-5 py-2.5 text-center me-2 mb-2">Rechercher</button>
        </form>

        {#        <form>#}
        {#            <div class="flex gap-16">#}
        {#            <section class="grid grid-cols-2 gap-3 items-center">#}
        {#                <!-- Site -->#}
        {#                <label for="testLabel" class="text-right">Site :</label>#}
        {#                <select name="firstTest" id="testLabel" class="border p-1 rounded w-full">#}
        {#                    <option value="val1">test</option>#}
        {#                    <option value="val2">test2</option>#}
        {#                </select>#}

        {#                <!-- Recherche avec icône -->#}
        {#                <label for="testLabel2" class="text-right">Le nom de la sortie contient :</label>#}
        {#                <div class="relative w-full">#}
        {#                    <input type="search" id="testLabel2" name="search"#}
        {#                           class="border p-1 pl-10 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500"#}
        {#                           placeholder="Search"/>#}
        {#                    <svg class="w-5 h-5 text-gray-500 absolute left-3 top-1/2 transform -translate-y-1/2"#}
        {#                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">#}
        {#                        <path stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>#}
        {#                    </svg>#}
        {#                </div>#}

        {#                <!-- Date (Aligné avec les autres labels et sur une seule ligne) -->#}
        {#                <label for="date-start" class="text-right">Entre :</label>#}
        {#                <div class="flex gap-2 w-full">#}
        {#                    <input type="date" min="2025-02-28" max="2025-12-31" id="date-start" class="border p-1 rounded w-full"/>#}
        {#                    <label for="date-end" class="text-right" id="">Et</label>#}
        {#                    <input type="date" min="2025-02-28" max="2025-12-31" id="date-end" class="border p-1 rounded w-full"/>#}
        {#                </div>#}
        {#            </section>#}
        {#                <section class="space-y-2">#}
        {#                    <div class="flex items-center space-x-2">#}
        {#                        <input type="checkbox" id="outingOrganizer"/>#}
        {#                        <label for="outingOrganizer" class="inline">Sorties dont je suis l'organisateur/trice</label>#}
        {#                    </div>#}

        {#                    <div class="flex items-center space-x-2">#}
        {#                        <input type="checkbox" id="outingRegistered"/>#}
        {#                        <label for="outingRegistered" class="inline">Sorties auxquelles je suis inscrit/e</label>#}
        {#                    </div>#}

        {#                    <div class="flex items-center space-x-2">#}
        {#                        <input type="checkbox" id="outingNotRegistered"/>#}
        {#                        <label for="outingNotRegistered" class="inline">Sorties auxquelles je ne suis pas inscrit/e</label>#}
        {#                    </div>#}

        {#                    <div class="flex items-center space-x-2">#}
        {#                        <input type="checkbox" id="outingPast"/>#}
        {#                        <label for="outingPast" class="inline">Sorties passées</label>#}
        {#                    </div>#}

        {#                    <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl#}
        {#                    focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm#}
        {#                    px-5 py-2.5 text-center me-2 mb-2">Rechercher</button>#}
        {#                </section>#}
        {#            </div>#}
        {#        </form>#}


    </div>

    <div>
        <a href="{{ path('app_event_create') }}">
            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Créer une sortie
            </button>
        </a>
    </div>
    </div>

    {# Afficher les sorties #}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom de la sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Date de la sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Clôture des inscriptions
                </th>
                <th scope="col" class="px-6 py-3">
                    Inscrits / Places
                </th>
                <th scope="col" class="px-6 py-3">
                    Etat
                </th>
                <th scope="col" class="px-6 py-3">
                    Inscrit ?
                </th>
                <th scope="col" class="px-6 py-3">
                    Organisateur
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ event.name }}
                </th>
                <td class="px-6 py-4">
                    {{ event.startAt | date("d/m/Y H:i") }}
                </td>
                <td class="px-6 py-4">
                    {{ event.inscriptionLimitAt | date("d/m/Y H:i") }}
                </td>
                <td class="px-6 py-4">
                    {{ inscriptionCount[event.id] }} / {{ event.maxParticipant }}
                </td>
                <td class="px-6 py-4">
                    {{ event.state }}
                </td>
                <td class="px-6 py-4">
                    {% if isRegisteredById[event.id] %}
                        <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path fill="currentColor" d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
                            <path fill="#fff" d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/></svg>
                            inscrit
                        </span>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    <a href="{{ path('app_user_detail', {'userId' : event.organizer.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{event.organizer ? event.organizer.name: 'Inconnu' }}</a>
                </td>
                <td class="px-6 py-4">
                    <a href="{{ path('app_event_detail', {id: event.id}) }}">Afficher</a>
                    {% if app.user.id is same as(event.organizer.id) %}
                    <a href="#">Modifier</a>
                    {% endif %}
                    {% if app.user.id is same as(event.organizer.id) or is_granted('ROLE_ADMIN') %}
                    <a href="#">Annuler</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
