{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des évênements{% endblock %}

{% block body %}
    <div class="flex flex-col gap-5">
        <h1 class="py-2 text-3xl text-center font-extrabold md:text-5xl lg:text-6x text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
            Les sorties en ligne !</h1>
        <div>
            <div class="flex justify-between items-center">

                <form class="flex grow" method="get" action="{{ path("app_event") }}">
                    <div class="flex justify-center gap-16 grow items-center">
                        <section class="flex flex-col gap-2 ">

                            <!-- Search avec l'icône -->
                            <label for="testLabel2" class="dark:text-white">Le nom de la sortie contient :</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 absolute left-3 top-1/2 transform -translate-y-1/2"
                                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input  type="search" id="testLabel2" name="search" value="{{ app.request.query.get('search') }}" placeholder="Rechercher par nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>

                            <!-- Site avec la liste déroulante -->
                            <label for="siteList" class=" dark:text-white">Site :</label>
                            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="site" id="siteList">
                                <option value="" {% if app.request.query.get('site') == '' %}selected{% endif %}>Tous</option>
                                {% for site in sites %}
                                    <option value="{{site.id}}" {% if app.request.query.get('site') ==  site.id %}selected{% endif %}>{{site.name}}</option>
                                {% endfor %}
                            </select>

                            <!-- Select date -->
                            <label for="date-start" class="dark:text-white">Entre :</label>
                            <div class="flex gap-2 w-full items-center">
                                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="date" name="dateStart" value="{{ app.request.query.get('dateStart') }}" min="2025-02-28" max="2025-12-31" id="date-start"/>
                                <label for="date-end" class="dark:text-white" id="">Et</label>
                                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="date" name="dateEnd" value="{{ app.request.query.get('dateEnd') }}" min="2025-02-28" max="2025-12-31" id="date-end" />
                            </div>
                        </section>

                        <section class="flex flex-col gap-2 h-full">

                            <!-- Checkbox -->
                            <div class="flex items-center space-x-2 mt-6">
                                <input
                                        type="checkbox" id="outingOrganizer" name="organizer"
                                       {% if app.request.query.get('organizer') is not empty %}checked{% endif %} />
                                <label for="outingOrganizer"  class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Sorties dont je suis l'organisateur/trice</label>
                            </div>

                            <div class="flex items-center space-x-2">
                                <input type="checkbox" id="outingRegistered" name="registered"
                                       {% if app.request.query.get('registered') is not empty %}checked{% endif %} />
                                <label for="outingRegistered"class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Sorties auxquelles je suis inscrit/e</label>
                            </div>

                            <div class="flex items-center space-x-2">
                                <input type="checkbox" id="outingNotRegistered" name="notRegistered"
                                       {% if app.request.query.get('notRegistered') is not empty %}checked{% endif %} />
                                <label for="outingNotRegistered"class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Sorties auxquelles je ne suis pas inscrit/e</label>
                            </div>

                            <div class="flex items-center space-x-2">
                                <input type="checkbox" id="outingPast" name="outingPast"
                                       {% if app.request.query.get('outingPast') is not empty %}checked{% endif %} />
                                <label for="outingPast"class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Sorties passées</label>
                            </div>

                            <!-- Submit -->
                            <button type="submit" class="mt-auto text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl}
                    focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm#}
                    px-5 py-2.5 text-center me-2 ">Rechercher
                            </button>

                        </section>
                    </div>


                </form>

                <div class="flex flex-col gap-2">
                <div class="flex justify-center items-centers  gap-5">
                    <div
                            {{ vue_component('ToggleDisplay') }}
                    ></div>

                    <a href="{{ path('app_event_create') }}">
                        <button type="button"
                                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Créer une sortie
                        </button>
                    </a>

                </div>
                <div
                        {{ vue_component('Filter') }}
                ></div>
                </div>

            </div>
        </div>


        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table id="array" hidden class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom de la sortie
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date de la sortie
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Clôture des inscriptions
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Inscrits / Places
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Etat
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Inscrit ?
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Organisateur
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}

                        <tr
                                data-name="{{ event.name|lower }}"
                                data-description="{{ event.description|lower }}"
                                data-organizer="{{ event.organizer.name|lower }}"
                                class="event-item-array odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                            <td scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ event.name }}
                            </td>
                            <td class="px-6 py-4">
                                {{ event.startAt | date("d/m/Y H:i") }}
                            </td>
                            <td class="px-6 py-4">
                                {{ event.inscriptionLimitAt | date("d/m/Y H:i") }}
                            </td>
                            <td class="px-6 py-4">
                                {{ inscriptionCount[event.id] }} / {{ event.maxParticipant }}
                            </td>
                            <td class="px-6 py-4">
                                {{ event.displayStateLabel }}
                            </td>
                            <td class="px-6 py-4">
                                {% if isRegisteredById[event.id] %}
                                    <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                            <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor" viewBox="0 0 20 20">
                                <path fill="currentColor"
                                      d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
                                <path fill="#fff"
                                      d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/></svg>
                                inscrit
                            </span>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                <a href="{{ path('app_user_detail', {'userId' : event.organizer.id}) }}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ event.organizer ? event.organizer.name: 'Inconnu' }}</a>
                            </td>
                            <td class="px-6 py-4">
                                <a href="{{ path('app_event_detail', {id: event.id}) }}">Afficher</a>
                                {% if app.user.id is same as(event.organizer.id) %}
                                    <a href="{{ path('app_event_update', {id: event.id}) }}">Modifier</a>
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="card" hidden class="event-list container mx-auto flex flex-row flex-wrap flex-auto justify-center gap-6">
                {% for event in events %}
                    <div
                            data-name="{{ event.name|lower }}"
                            data-description="{{ event.description|lower }}"
                            data-organizer="{{ event.organizer.name|lower }}"
                            class="event-item relative flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-xl md:flex-row md:max-w-xl hover:bg-gray-100 hover:border-blue-800 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:border-blue-400">
                        {% set imagePath = 'uploads/' ~ event.photo %}
                        <img class="event-item object-cover w-full mx-2 h-96 border border-gray-200 rounded-lg dark:border-gray-700 md:h-auto md:w-48 md:rounded-s-lg"
                             src="{{ (event.photo is not null and event.photo != '') ? asset(imagePath) : asset('images/logo.png') }}"
                             alt="Image de {{ event.name }}">
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.name }}</h5>
                            <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">Organisateur: <a
                                        href="{{ path('app_user_detail', {'userId' : event.organizer.id}) }}"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ event.organizer ? event.organizer.name: 'Inconnu' }}</a>
                            </p>
                            {% if isRegisteredById[event.id] %}
                                <span class="absolute top-2 right-2 bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-blue-400 border border-blue-400">

                                <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     fill="currentColor" viewBox="0 0 20 20">
                                    <path fill="currentColor"
                                          d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
                                    <path fill="#fff"
                                          d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/></svg>
                                    inscrit
                                </span>
                            {% endif %}
                            <p class="absolute top-10 right-2 mb-3 font-bold text-xs text-gray-700 dark:text-gray-400">
                                [ {{ event.displayStateLabel }} ]</p>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ event.description }}</p>
                            <div class="border border-gray-700 dark:border-gray-700 py-3 px-1 mb-3">
                                <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">Début de
                                    l'événement:
                                    <strong>{{ event.startAt | date("d/m/Y H:i") }}</strong></p>
                                {% set available =  event.maxParticipant - inscriptionCount[event.id] %}
                                <p class="mb-1 font-normal text-sm text-gray-700 dark:text-gray-400">Clôture des
                                    inscriptions: <strong>{{ event.inscriptionLimitAt | date("d/m/Y H:i") }}</strong>
                                    <span
                                            class="text-green-700 italic">({{ available }} places restantes)</span></p>
                            </div>
                            <div>
                                <a href="{{ path('app_event_detail', {id: event.id}) }}">

                                    <button type="button"
                                            class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                        Afficher
                                    </button>
                                </a>
                                {% if app.user.id is same as(event.organizer.id) or is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_event_update', {id: event.id}) }}">
                                        <button type="button"
                                                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                            Modifier
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
