{% extends 'base.html.twig' %}

{% block body %}

    <div class="container h-full max-w-lg mx-auto flex flex-col gap-5">
        <h1 class="text-center dark:text-white">{{ isPublished ? 'Evènement publié' : 'Evènement non publié' }}</h1>
        <div class="overflow-y-auto p-8">
            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <div class="flex justify-around items-center">
                <div>
                    {{ form_row(form.maxParticipant) }}
                </div>
                <div class="mt-5">
                    {{ form_row(form.isPublished, {'attr': {'disabled': isPublished ? 'disabled' : null}}) }}
                </div>
            </div>
            <div class="flex justify-around items-center">
                {{ form_row(form.startAt) }}
                {{ form_row(form.endAt) }}
            </div>
            <div class="flex justify-center">
                {{ form_row(form.inscriptionLimitAt) }}
            </div>
            <div class="flex gap-5">
                <div class="grow">
                    {{ form_row(form.site) }}
                </div>
                <div class="grow">
                    {{ form_row(form.location) }}
                </div>
            </div>
        </div>
{#        <div class="overflow-y-auto p-8">#}
{#            {{ form_start(form) }}#}
{#            {{ form_row(form.name) }}#}
{#            {{ form_row(form.description) }}#}
{#            {{ form_row(form.maxParticipant) }}#}
{#            {{ form_row(form.startAt) }}#}
{#            {{ form_row(form.endAt) }}#}
{#            {{ form_row(form.inscriptionLimitAt) }}#}
{#            {{ form_row(form.site) }}#}
{#            {{ form_row(form.location) }}#}
{#        </div>#}
        <div class="flex flex-row justify-center items-center gap-5 ">
            {% if canCancel %}
                <a href="{{ path('app_event_cancel', {'id' : id} ) }}">
                    <button type="button"
                            class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Annuler l'évènement
                    </button>
                </a>
            {% endif %}
            {% if not isPublished %}
                <a href="{{ path('app_event_delete', {'id' : id} ) }}">
                    <button type="button"
                            class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Supprimer l'évènement
                    </button>
                </a>
            {% endif %}
            {% if not isPublished %}
                <a href="{{ path('app_event_publish', {'id' : id} ) }}">
                    <button type="button"
                            class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Publier l'évènement
                    </button>
                </a>
            {% endif %}
            <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Enregistrer les modifications
            </button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

