{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 class="mb-3 text-center text-lg md:text-5xl">{{ title }}</h1>
        <p class="mb-3 text-center text-lg md:text-4xl">{{ user.pseudo }}</p>
        <p class="mb-3 text-center text-lg md:text-3xl">  Nom : {{ user.name }}</p>
        <p class="mb-3 text-center text-lg md:text-3xl"> Prénom : {{ user.firstname }}</p>
        <p class="mb-3 text-center text-lg md:text-3xl"> Téléphone : {{ user.phone }}</p>
        <p class="mb-3 text-center text-lg md:text-3xl"> Email : {{ user.email }}</p>
        <p class="mb-3 text-center text-lg md:text-3xl"> Ville de rattachement : {{ user.site.name }}</p>

        {% if app.user == user %}
        <div class="flex flex-row justify-center items-center gap-5 ">
            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                <a href="{{ path('app_user_update') }}">Modifier</a>
            </button>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block title %}{{ parent() }} - {{ title }}

{% endblock %}